
.login {
    background: #333;
    color: #e8e8e8;
    // width: 500px;
    width: 65%;
    max-width: 600px;
    margin: 70px auto;
    box-shadow: 0 4px 0px #333;
    border-radius: 5px;

    .container {
        padding: 5px 10px;
        text-align: center;
        // display: flex;
        align-items: center;
        background-color: #222;
        border-radius: inherit;// 5px; // 5px 0 0;

        h1 {
            font-weight: normal;
            font-family: georgia;
        }

        .header h1 {
                text-transform: uppercase;
                letter-spacing: 3px;
                font-size: 2em;
        }
        .section {
            margin: 10px;
            padding: 15px;
            background-color: #ccc;
            color: #333;
            // border-radius: 5px; // 5px 0 0;
            border-radius: inherit;
            text-transform: none;
            h1 {
                font-size: 1.5em;
            }
        }
    }
}
